<div class="board">
  <% @game.current_board.each_with_index do |square, i| %>

    <div class="boardsquare" id="sq<%= i %>">

      <% case square.to_i when 0 %> <%#= radio_button_tag :move, i %> 
        <%= form_for @game do |f| %>
          <%= f.hidden_field :p1_id, :value => @game.p1_id %>
          <%= f.hidden_field :p2_id, :value => @game.p2_id %>
          <%= f.hidden_field :board, :value => @game.current_board %>
          <%= f.hidden_field :move, :value => i %>
          <%= f.submit '', :class => 'blank_button' unless (@game.moves != nil && @game.game_won == true)%>
        <% end %>
      <% when 1 %><p class='naught'><%= image_tag('o.png') %></p>
      <% when 2 %><p class='cross'><%= image_tag('x.png') %></p>
      <% else %>Err  
      <% end %>
    </div>
  <% end %>
</div>
<%#=(link_to 'a', {controller: 'games', action: 'update', p1_id: @game.p1_id, move: i, p2_id: @game.p2_id, board: @game.board}, method: :put)%>