<% @game.check_current_board %>
<% if flash[:notice] %>
<%= flash[:notice] %>
<% end %>
<% if @game.winner != nil %>
<h2>The winner is..... <%= @game.winner %>
<% else %>

  <h2>Turn: <%= @game.check_player %></h2>

  <%= form_for @game do |f| %>
  <%= f.hidden_field :p1_id, :value => @game.p1_id %>
  <%= f.hidden_field :p2_id, :value => @game.p2_id %>
  <%= f.hidden_field :board, :value => @game.current_board %>
  <%= render partial: 'viewboard' %>
  <%= f.submit %>
  <% end %>
<% end %>
