<% @game.check_current_board %>
<% if @game.winner == nil %>
  <h2>Turn: <%= @game.check_player %></h2>
  <%= form_for @game do |f| %>
    <%= f.hidden_field :p1_id, :value => @game.p1_id %>
    <%= f.hidden_field :p2_id, :value => @game.p2_id %>
    <%= f.hidden_field :board, :value => @game.current_board %>
    <%= f.label :move %>
    <%= f.text_field :move %>
    <%= f.submit 'Make Move' %>
  <% end %>
<% else %>
  <h2>The winner is..... <%= @game.winner %>

<% end %>
<%= render partial: 'viewboard' %>
<%# binding.pry;'' %>