<% @game.check_current_board %>
<% if flash[:notice] %>
<%= flash[:notice] %>
<% end %>
<strong><%=@game.users.first.email %></strong> vs <strong><%= @game.users.last.email %></strong>
<% if @game.winner != nil %>
  <h2>The winner is..... <%= @game.return_winner.email %>
<% else %>
  <h2>Turn: <%= @game.check_player %></h2>
<% end %>
<%= render partial: 'viewboard' %>
