

<table>
  <tr>
    <th>Game Number</th>
    <th>Player 1</th>
    <th>Player 2</th>
    <th>Play</th>
    <th>Winner</th>
  </tr>
  
<% @games.each do |game| %>

<tr>
<td><%=link_to(game.id, game_path(game.id))%></td>
<td><%=link_to(User.find(game.p1_id).email, user_path(game.p1_id))%></td>
<td><%=link_to(User.find(game.p2_id).email, user_path(game.p2_id))%></td>
<td><% if game.moves == nil || (game.game_drawn == nil && game.winner==nil) %>
<%= link_to('Play', edit_game_path(game))  %>
<% else %>
Game Finished
<% end %></td>
<td><%= User.find(game.p1_id).email if game.winner==1 %>
<%= User.find(game.p2_id).email if game.winner==2 %>
<%= "Draw" if game.moves != nil && game.game_drawn %></td>
</tr>
<% end %>
</table>