<% `killall iTunes` %>
<% @game.check_current_board %>
  <strong><%=@game.users.first.email %></strong> vs <strong><%= @game.users.last.email %></strong>
  <% if @game.game_won %>
    <h1 class="blink_me">Game Won!</h2>
    <%= @game.return_winner.email %>
    <% `say "#{@game.return_winner.email} ... wins"` %>
  <% elsif @game.game_drawn %>
    <h1 class="blink_me">Its a DRAW!!!</h2>
    <% `say "Double K O!"` %>
  <% end %>

  <%= render partial: 'viewboard' %>

  <%= link_to "Rematch!", "/games/new?p1_id=#{@game.p1_id}&p2_id=#{@game.p2_id}" %>

  <%= link_to('Show All', games_path) %>
 
  