<h1>Connect Four</h1>

<h2>Current Player - <%= @game.p1.email if @game.turn==1 %><%= @game.p2.email if @game.turn==2 %></h2>
<p>Yes, I know there's gems, but I'm a masochist...</p>


<%= form_for @game do |f| %>
<%= render partial: 'board' %>
<%= f.submit 'Make Move' %>
<% end %>