<h1>Challenge</h1>


<% if rand(2) == 0 %>
<% winner = @match.p1_id %>
<% else %>
<% winner = @match.p2_id %>
<% end %>
<%# winner=rand(2)+1 %>
<%= winner %>

<%= form_for(@match) do |f| %>
  <% if @match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
      <% @match.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  <%= f.hidden_field :winner_id, :value => winner.to_i %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<%= link_to 'Back', user_index_path %>
