<% if flash[:notice] %>
<%= flash[:notice] %>
<% end %>
<strong><%=User.find(@rp.p1_id).email %></strong> vs <strong><%= User.find(@rp.p2_id).email %></strong>
<% if @rp.winner_id != nil %>
<h2>The winner is..... <%= User.find(@rp.winner_id).email %></h2>
<% end %>
<br>

<%= link_to "Rematch!", "/rps/new?p1_id=#{@rp.p1_id}&p2_id=#{@rp.p2_id}" %>
<%= link_to "Show All", rps_path %>

<h1>
<%=@rp.winning_message(@rp.p1_move, @rp.p2_move)%></h1>

<div class="rpsimage">
<% case @rp.p1_move %>
<% when 1 %>
<%= image_tag('rock.png', size: "200x200") %>
<% when 2 %>
<%= image_tag('paper.svg', size: "200x200") %>
<% when 3 %>
<%= image_tag('scissors.png', size: "200x200") %>
<% end %>
</div>
<div class="rpsimage">

<% case @rp.p2_move %>
<% when 1 %>
<%= image_tag('rock.png', size: "200x200") %>
<% when 2 %>
<%= image_tag('paper.svg', size: "200x200") %>
<% when 3 %>
<%= image_tag('scissors.png', size: "200x200") %>
<% end %>
</div>