<div class="head">
  <h1>Gamification</h1>
  <nav>
    <ul>

      <% if user_signed_in? %>
      <li><%= link_to('Log out', destroy_user_session_path, :method => :delete ) %></li>
      <li><%= link_to('User Page', user_path(current_user.id)) %></li>
      <% else %>
      <li><%= link_to('Log in', new_user_session_path) %> </li>
    </li>
    <li><%= link_to('Register', new_user_registration_path) %></li>
    <% end %>
    <li><%= link_to('League Table', '/') %></li>
    <li><%= link_to('New TicTacToe', new_game_path) %></li>
    <li><%= link_to('Show all TTT Matches', games_path) %></li>
    <li><%= link_to('New Rock Paper Scissors', new_rp_path) %></li>
    <li><%= link_to('Show all RPS''s', rps_path) %></li>
    <li><%= link_to('New Connect Four', new_c4game_path) %></li>
    <li><%= link_to('All Connect Four Game', c4games_path) %></li>
  </ul>
</nav>
<% if user_signed_in? %>
<ul><li>Signed in as: <%= current_user.email %></li>
  <li>Role: <%= current_user.role %></li></ul>
  <li>Total Points: <%= current_user.points %></li>
  <% end %>
</div>