<!DOCTYPE html>
<html>
<head>
  <title>Gamification</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <nav>
    <ul>
      
      <% if user_signed_in? %>
      <li><%= link_to('Log out', destroy_user_session_path, :method => :delete ) %></li>
      <% else %>
      <li><%= link_to('Log in', new_user_session_path) %> </li>
      </li>
      <li><%= link_to('Register', new_user_registration_path) %></li>
      <% end %>
      <li><%= link_to('League Table', '/') %></li>
      <li><%= link_to('New Match', new_game_path) %></li>
      <li><%= link_to('Show all matches', games_path) %></li>
    </ul>
  </nav>
  <% if user_signed_in? %>
  <ul><li>Signed in as: <%= current_user.email %></li>
    <li>Total Points: <%= current_user.points %></li>
    <li>Role: <%= current_user.role %></li></ul>
    <% end %>


    <%= yield %>

  </body>
  </html>
